@use '../abstracts/variables';
@use '../abstracts/utils';

button {
    @include utils.roundedBorder(0.25rem, black);
    background-color: variables.$buttonColor;
    font-size: medium;
    transition: 0.25s ;

    &:hover{
        background-color: variables.$buttonHover;
        color:white;
    }
}